$--theme-skin:#464646 !default;
$--theme-skin-active:orange !default;
$--cover-info-background:rgba(255,255,255,0.7) !default;
$--global-font-weight:400 !default;
$--article-block-shadow: #e8e8e8 !default;
$--style_menu_radius: 10px !default;